all:
  children:
    cortensor_nodes:
      hosts:
        server1:
          ansible_host: 192.168.1.10
          key_pair_index: 1
          gpu_enabled: 0
        server2:
          ansible_host: 192.168.1.11
          key_pair_index: 2
          gpu_enabled: 0
        server3:
          ansible_host: 192.168.1.12
          key_pair_index: 3
          gpu_enabled: 0
        server4:
          ansible_host: 192.168.1.13
          key_pair_index: "4, 5, 6, 7" # Multiple keys can be used for the same server, quote is a must for multiple keys
          gpu_enabled: 0
          llm_threads: "4" # You can set threads per instance here, if not set, it will use (total threads count - 2) / total instances
          llm_memory_index_dynamic_loading: 1 # set to 1 to enable dynamic loading (it will consume high memory), default is 0 (disabled)
        server5-1:
          ansible_host: 192.168.1.14
          contract_address_runtime: "0x8d67608D0F674F359DE0e420857739ECBDeb6B90" # DevNet#7, if not set, it will use the global one (DevNet#6)
          key_pair_index: "11, 18" # Follow the numbering, not the index position
          gpu_enabled: 1 # set to 1 if GPU is available
          gpu_threshold: 10 # Set GPU threshold for LLM, if not set, it will use 0
        server5-2:
          ansible_host: 192.168.1.14 # Same server as server5-1
          ipfs_primary: false # Set this node to not install IPFS
          key_pair_index: "19, 20"
          contract_address_runtime: "0xa438cE917a5740267e0f7217f81cbbAA23E7e106" # Testnet-0, if not set, if not set, it will use the global one (DevNet#6)
          rpc_url: "https://arb-sepolia.cryptonode.id" # You can set custom RPC URL per node, if not set, it will use the global one
        server5-3:
          ansible_host: 192.168.1.14 # Same server as server5-1
          ipfs_primary: false # Set this node to not install IPFS
          key_pair_index: "21, 22" # Follow the numbering, not the index position
          contract_address_runtime: "0x0188C7F0c23c8be756F7b56486193E086f48E64b" # Testnet-1, if not set, it will use the global one (DevNet#6)
          is_l3: true # set to true if this is L3 node
          rpc_url: "https://l3-cor.cryptonode.id" # You can set custom RPC URL per node, if not set, it will use the global one
          llm_memory_index_dynamic_loading_threshold: 80 # Will load 80% of the models
          llm_memory_index_dynamic_loading_exclude_model_indexes: "1,2,3" # Will exclude model no 1, 2 and 3